.navbar-expand-lg .navbar-nav{
    align-items: center;
}


.imagen{
    float:right;
}
#enlacesBottom{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color:  transparent;
}

.d-flex{
    display: contents;
}
.footerWeb{
    padding-bottom: 30px;
}
#perfilCarrito{
    margin-top:0;
    margin-bottom:0;
    margin-right: 10px;
    word-spacing:10px;
}
.btn-primary{
    --bs-btn-bg: #00ac67;
    --bs-btn-border-color: #00ac67;
    --bs-btn-hover-bg: #00ac67;
    --bs-btn-hover-border-color: #00ac67;
    --bs-btn-active-bg: #00ac67;
    --bs-btn-active-border-color: #00ac67;
}

.precio1{
    background-color: rgb(189, 236, 255);
   
}

#descripcionPrecios{
    margin-left: 25px;
    margin-right: 25px;
}

